{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi Banco{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>

    <!-- Barra de navegación -->
    <nav>
        <ul>
            <li><a href="{% url 'inicio' %}">Inicio</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'registro' %}">Registrarse</a></li>
        </ul>
    </nav>

    <hr>

    {% block content %}
    {% endblock %}

</body>
</html>
