{% extends 'mi_banco/base.html' %}

{% block content %}
<div>
    <h2>Iniciar Sesion</h2>
    <form method="post">
        {% csrf_token %}
        <label for="">Correo</label>
        <input type="email" name="" id="" placeholder="Correo">
        
        <label for="">Contraseña</label>
        <input type="password" name="" id="" placeholder="Tu contraseña">

        <button type="submit">Ingresar</button>
        <p>
            ¿No tienes cuenta? <a href="{% url 'registro' %}">Regístrate aquí</a>
        </p>
    </form>
</div>
{% endblock %}
